.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding: 100px 16px;
  min-height: 100vh;
}

.main h1 {
  text-align: center;
  font-size: 2.5rem;
}

#filter_container {
  display: flex;
  background-color: white;

  margin: 40px 0;
  padding: 8px 17px;

  max-width: 800px;
  width: 70%;

  border: 1px solid #deddf6;
  border-radius: 16px;
}

@media (max-width: 601px) {
  #filter_container {
    width: auto;
  }
}

#submit_btn,
#selectfilter_btn {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 7px 6px;
  border: none;
  font-family: inherit;
  font-weight: 500;
  background: transparent;
}

#selectfilter_btn {
  border-radius: 10px;
  background: #f9f8ff;
  text-transform: capitalize;
}

#submit_btn {
  margin-left: auto;
  background: transparent;
  color: #9c9bb3;
}

@media (max-width: 601px) {
  #submit_btn {
    display: none;
  }
}

#filter_container input {
  outline: none;
  flex: 1;
  font-family: inherit;
  min-height: 100%;
  padding-left: 8px;
  border: none;
  color: #9c9bb3;
  font-size: 0.8rem;
}

#wrapper {
  display: flex;
  gap: 15px;
  width: 100%;
  max-width: 950px;
}

@media (max-width: 760px) {
  #wrapper {
    flex-direction: column;
  }
}

.grid_item_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.grid_item_wrapper:nth-child(2) {
  flex: 1;
}

/* .grid_item_wrapper div {
  display: flex;
  align-items: center;
  background: #f9f8ff;
} */

.inner_container_grid_item,
#container {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #f9f8ff;
  border-radius: 12px;
  padding: 15px;
}

.inner_container_grid_item div,
#container div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-transform: uppercase;
  color: #9c9bb3;
  font-size: 0.8rem;
}

#container div:nth-child(1) {
  flex-direction: row;
  align-items: center;
}

#container > div:nth-child(2) {
  align-items: flex-end;
  margin-left: auto;
}

.span_inner_container {
  color: black;
  font-weight: 700;
  font-size: 1rem;
}

.span_inner_container span {
  color: #fc4137;
  font-weight: 400;
  font-size: 1rem;
  margin-left: 3px;
}

#container2 {
  display: flex;
  gap: 15px;
}

@media (max-width: 601px) {
  #container2 {
    flex-direction: column;
  }
}

#container2 div {
  flex: 1;
}

#transaction_history_container {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #9c9bb3;
  font-size: 0.8rem;
  background: #f9f8ff;
  border-radius: 12px;
  padding: 15px;
}

#transaction_history_container > div {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  gap: 5px;
  font-size: 0.7rem;
}

#img_container {
  position: relative;
  height: 100%;
}

@media (max-width: 760px) {
  #img_container {
    height: 100px;
  }
}

#img_container img {
  object-fit: contain;
}

#img_container_wrapper {
  height: 100%;
  flex: 1;
  position: relative;
}

#img_container_wrapper div:nth-child(2) {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  bottom: 10px;
}

@media (max-width: 760px) {
  #img_container_wrapper div:nth-child(2) {
    display: none;
  }
}
